.id-conteiner{

    width: 39px;
    height: 21px;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    color: var(--blue2);
    margin-top:8px;
    margin-left: 319px;
    position: absolute;
    
}